main {
    height: 100%;
}

.about-section {
    height: 100%;
    display: flex;
    flex: 1; /* same as flex: 1 1 auto; */
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}

.about-section img {
    margin: 5% auto 1% auto;
    width: 85%;
}

@media (max-width: 995px) {

}

@media (max-width: 768px) {
    main {
        height: auto;
    }
    .about-section {
        padding-top: 30px;
    }

    .about-section img {
        margin: 2% auto 1% auto;
        height: 550px;
        width: 99%;
    }

}