main {
    height: auto;
}

.main-brands {
    padding-top: 56px;
}

.brands {
    min-height: 100%;
}

.brands img {
    height: 100%;
    width: 85%;
}

.main.row.col {
    min-width: 100%;
    min-height: 100%;
}

.main h3 {
    font-weight: 700;
    line-height: 80px;

}

.main-packages {
    /*background-color: whitesmoke;*/
    padding: 15px 0 15px 0;
    width: 98%;
}

.card {
    background-color: whitesmoke;
}

.card-content {
    background-image: url(../images/CompanyLogo/brushedSteel.jpg);
    background-size: cover;
}


.card-image img {
    height: 300px;
}

.card-content {
    height: 100%;
    padding: 5px !important;
}


