main {
    height: auto;
}

/*Connect*/
.contact-us {
    padding: 10px;
}

.connect-outer-container{
    /*background-image: url(../images/CompanyLogo/brushedSteel.jpg);*/
    /*background-size: cover;*/
    background-color: #FFFFFF;
    width: 100%;
    height: 100%;
    margin: 50px auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.connect-inner-container {
    /*background-image: url(../images/CompanyLogo/brushedSteel.jpg);*/
    /*background-size: cover;*/
    /*background-color: #FFFFFF;*/
    width: 98%;
    margin: 5px auto;
    padding: 1%;

}

.flex-box {
    background-color: white;
    margin-bottom: 0;
}

.connect-inner-container h3, h4 {
    text-align: left;
}

.contact-us h3 {
    padding-left: 25px;
}


.logo-section img {
    height: 150px;
    width: 150px;
    margin-top: 20px;
}

.office-address h4 {
    font-weight: 600;
    color: black;

}

.office-address ul li a {
    font-size: 15pt;
    color: #242424;

}

.office-address ul li.phone a {
    font-size: 13pt;
    color: #242424;
}

.map {
    /*background-image: url(../images/brushedSteel.jpg);*/
    /*background-size: cover;*/
    height: auto !important;
    padding-bottom: 15px !important;
}


.find-us {
    margin-top: 20px;
}

.input-field {
    margin-bottom: 15px;
}

iframe {
    width: 90%;
    height: 420px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

/*Form titles*/
input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #000;
}

/*Form underline*/
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}

input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: 0 1px 0 0 #000000;
    box-shadow: 0 1px 0 0 #000000;
}

input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
    font-size: 16pt;
}

.input-field .prefix.active {
    color: #000;
}

.send-email {
    margin: 0 5px 40px 0;
    background-color: #1e7a1e;
    font-weight: 400;
    font-size: large;

}

.send-email:hover {
    background-color: #228d22;
    color: #f5f5f5;
}

.send-email:after {
    background-color: #228d22;
    color: #f5f5f5;
}

form {
    background-color: #FFFFFF;
    font-size: 18pt;
}

form .row {
    padding-top: 25px;
}

.last-name {
    visibility: hidden !important;
}


/*Media Queries*/

@media only screen and (max-width: 1026px) {
    /*Connect*/
    .connect-outer-container{
        margin: 30px auto 0 auto;
    }

}

@media (max-width: 1200px) {
    /*Connect*/
    .connect-outer-container{
        margin: 20px auto 0 auto;
    }

    .office-address ul li a, .office-address ul li.phone a {
        font-size: 15pt;
    }

    .office-address h5 {
        font-size: 10pt;
    }

}

@media (max-width: 995px) {
    /*Connect*/
    .flex-box {
        display: flex;
        flex-direction: column; /* Stack on top */
    }
    .flex-a {
        order: 2; /* Go down, bring Box B up */
    }

    .flex-b {
        order: 1;
    }

    .logo-section {
        text-align: right;
    }

    iframe {
        width: 100%;
    }

}

@media (max-width: 768px) {
    /*Connect*/
    .contact-us {
        padding-left: 5px !important;
    }

    .office-address ul li a, .office-address ul li.phone a {
        font-size: 12pt;
    }

    .office-address h5 {
        font-size: 10pt;
    }

    iframe {
        height: 250px !important;
    }

}

@media (max-width: 650px) {
    .last-name {
        visibility: visible !important;
    }
}