main {
    height: auto;
}
/*Packages*/
.package-body {
    padding-top: 56px;
}

.packages {
    margin: auto;
    width: 99%;
}

.card-container-title .col {
    padding: 10px 0 0 0;
}

.card-container-title {
    margin-bottom: 0;
}

.package-outer {
    overflow: hidden;
    height: 100%;
    width: 93%;
    margin: auto;
    -ms-overflow-style: none;
}

.package-outer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}



.package-inner {
    height: 100%;
}

.package-row {
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.card-title {
    text-shadow: 2px 2px 5px black;
}

.card-image img {
    height: 400px;
}

.card-content {
    height: 100%;
    padding: 0 !important;
}

.card {
    background-image: url(../images/CompanyLogo/brushedSteel.jpg);
    background-size: cover;
}

.card-content h5 {
    margin: 10px !important;
}

.card-container {
    width: 99%;
    height: auto;
    margin: 10px auto 30px auto;
}

.card-container .card-section {
    padding: 0;
}


.brand-packages {
    display: inline-block;
    width: 385px;
    margin: 15px;
}

.carousel-controls.package-btn {
    top: 45%;
}

.carousel-controls.package-btn:hover {
    background-color: rgba(164, 164, 164, 0.3);
}

.carousel-controls.package-btn i {
    color: black;
    font-size: 38pt;
    font-weight: 200;
}

.package-btn.mc-fwd,
.package-btn.bk-fwd,
.package-btn.popeyes-fwd{
    right: 0;
}

.package-btn.mc-prev,
.package-btn.bk-prev,
.package-btn.popeyes-prev{
    left: 0;
}

.popeyes-inner, .mc-inner {
    margin: auto;
}


/*Packages-Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    left: 0;
    top: 0 !important;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    position: relative;
    padding: 10px !important;
    margin: 15px auto;
    width: 75%;
}

.modal-content .row {
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    background-color: rgb(0, 0, 0);
}

.close {
    color: white;
    position: absolute;
    top:5px;
    right: 12px;
    font-size: 1.7rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #b1b1b1;
    text-decoration: none;
    cursor: pointer;
}

.modalSlides {
    display: none;
}

.modalSlides img{
    width: 100%;
    /*max-height: 800px;*/
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f5f5f5;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
}

img.thumbnail {
    opacity: 0.6;
    width: 100%;
    height: auto;
}

.active,
.thumbnail:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.regionMap {
    width: 90%;
    margin: 10px auto;
}

.regionMap img{
    width: 100%;
}
/*Media Queries*/

@media only screen and (max-width: 1026px) {
    /*Packages*/
    .card-image img {
        height: 320px;
    }


}

@media (max-width: 1200px) {
    /*Packages*/
    .brand-packages {
        width: 320px;
    }

    .package-outer{
        width: 92%;
    }

    .mc-inner{
        width: calc(355px * 1) !important;
    }

    .bk-inner{
        width: calc(355px * 4) !important;
    }

    .popeyes-inner {
        width: calc(355px * 1) !important;
    }

    .card-image img {
        height: 320px;
    }

    .carousel-controls.package-btn {
        top: 42%;
    }

    .carousel-controls.package-btn i {
        font-size: 34pt;
    }

}

@media (max-width: 995px) {
    /*Packages*/
    .brand-packages {
        width: 300px;
    }

    .package-outer{
        overflow: scroll;
    }

    .card-content h5 {
        font-size: 14pt !important;
    }

    .mc-inner{
        width: calc(340px * 1) !important;
    }

    .bk-inner{
        width: calc(340px * 4) !important;
    }

    .popeyes-inner {
        width: calc(340px * 1) !important;
    }

    .card-image img {
        height: 300px;
    }

    .carousel-controls.package-btn i {
        font-size: 28pt;
    }
}

@media (max-width: 768px) {
    /*Packages*/
    .brand-packages {
        width: 235px;
    }

    .package-outer{
        width: 85%
    }

    .card-slider {
        padding-bottom: 15px;
    }

    .card-content h5 {
        font-size: 12pt !important;
    }

    .mc-inner{
        width: calc(270px * 1) !important;
    }

    .bk-inner{
        width: calc(270px * 4) !important;
    }

    .popeyes-inner {
        width: calc(270px * 1) !important;
    }


    .card-image img {
        height: 250px;
    }

    /*Modal*/
    .modal-content {
        margin: 5px auto;
        padding: 5px !important;
        width: 90%;
        max-width: 1200px;
    }

    .modal-content .row {
        padding: 5px 0 5px 0;
    }

    .close {
        top: -5px;
        right: 5px;
    }

    .close i {
        font-size: 13pt !important;
    }

    .prev,
    .next {
        top: 45%;
        width: auto;
        padding: 16px;
        font-size: 18px;
    }

    .next {
        right: 5px;
    }

    .numbertext {
        font-size: 12px;
    }

}