/*Packages*/
.package-body {
    width: 99%;
    margin: 60px auto 0 auto;
    background-image: url(../images/brushedSteel.jpg);
    background-size: cover;
    /*background-color: whitesmoke;*/
    padding-top: 10px;
    padding-bottom: 5px;
}

.packages {
    margin: auto;
    width: 99%;
    /*background-color: whitesmoke;*/
}

.card-container-title .col {
    padding: 10px 0 0 0;
}

.card-container-title {
    margin-bottom: 0;
}

.package-outer {
    overflow: scroll;
    height: 100%;
    width: 97%;
    /*background-color: rgba(211, 211, 211, 0.95);*/
    background-color: #f5f5f5;
    margin: auto;

}

.package-outer::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

.package-inner {
    height: 100%;
}

.package-row {
    background-color: #f5f5f5;
    width: 100%;
    padding-top: 10px;
    /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), 0 0 5px 0 rgba(0, 0, 0, 0.19);*/
}

.card-title {
    text-shadow: 2px 2px 5px black;
}

.card-image img {
    height: 400px;
}

.card-content {
    height: 100%;
    padding: 0 !important;

}

.card {
    /*background-color: white !important;*/
    background-image: url(../images/brushedSteel.jpg);
    background-size: cover;
}

.card-content h5 {
    margin: 10px !important;
}

.card-container2 {
    width: 99%;
    height: auto;
    margin: 10px auto 30px auto;
}

.card-container-title h1 {
    padding-top: 10px;
    margin: 10px 0 10px 0;
    text-shadow: 1px 1px 2px black;
    font-weight: 600;
    color: #0056B8;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.card-container .card-section {
    padding: 0;
}

.card-btn {
    height: 500px;
    width: 50%;
    /*background-color: rgba(211, 211, 211, 0.95);*/
    background-color: transparent;
    padding: 0;
    margin: 0;
    /*box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.6), 0 0 0px 0 rgba(0, 0, 0, 0.19);*/
}

.card-btn:hover {
    background-color: #e0e0e0;
}

.card-btn i {
    color: black;
    opacity: 0.5;
    font-size: xx-large;
    padding-top: 232px;
}

.brand-packages {
    display: inline-block;
    width: 385px;
    margin: 15px;
}

.carousel-controls.package-btn {
    top: 58%;
}

.carousel-controls.package-btn i {
    opacity: 1;
    color: black;
    font-size: 50pt;
}

.package-btn.mc-fwd {
    right: 3px;
}

.package-btn.mc-prev {
    left: 3px;
}