.policies {
    width: 99%;
    height: 100%;
    margin: 2% auto;
    padding: 2%;
}

.policies-container {
    width: 99%;
    margin: auto;
    overflow: hidden;
}

.policies-container .row {
    background-image: url(../images/CompanyLogo/brushedSteel.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.policy-info{
    margin-top: 14.5px;
}

.flex-text {
    padding: 5%;
    height: 60%;
    background-color: rgba(255,255,255,0.85);
}

.flex-text h3 {
    font-weight: 800;
    margin-bottom: 6%;
}

.flex-text p {
    font-size: large;
}

.policies-container ul li {
    line-height: 36px;
}

.policy-img img {
    width: 400px;
    height: 300px;
}


@media (max-width: 1026px) {

    .policies-container .row {
        flex-direction: column;
        flex: 1;
    }

    .policy-info {
        height: 100%;
        min-width: 100% !important;
        margin: 1% auto;
    }

    .policy-img {
        min-width: 100% !important;
    }

    .policy-img ul {
        display: flex;
    }

    .policy-img ul li {
        margin: auto;
    }

}

@media (max-width: 995px) {

    .policies {
        margin: 3% auto 0 auto;
    }

    .policy-img ul li {
        margin: 10px;
    }

}

@media (max-width: 640px) {
    main {
        height: auto;
    }

    .policies {
        margin: 8% auto;
    }

    .policy-img ul {
        display: inline-block;
    }

    .policy-img ul li {
        margin: auto;
    }

}

