.policies {
    background-image: url(../images/CompanyLogo/brushedSteel.jpg);
    background-size: cover;
    width: 99%;
    min-height: 100%;
    margin: 5% auto;
    padding: 2%;
}

.policies-container {
    background-color: white;
    width: 99%;
    height: 100%;
    margin: auto;
    padding: 5%;
}
