
/*Packages*/
.package-body {
    width: 100%;
    margin: 30px auto 0 auto;
    /*background-image: url(../images/brushedSteel.jpg);*/
    /*background-size: cover;*/
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 5px;
}

.packages{
    width: 99%;
    margin: auto;
}

.container-outer {
    height: auto;
    width: 100%;
    /*background-color: rgba(211, 211, 211, 0.95);*/
    background-color: transparent;
    /*box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), 0 0 5px 0 rgba(0, 0, 0, 0.19);*/
}

.container-inner {
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.card-container-title h4{
    color: whitesmoke;
}

.test {
    width: 98%;
    background-color: whitesmoke;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}


.card-title {
    font-family: LaoUI;
    font-size: medium !important;
    text-shadow: 2px 2px 5px black;
}

.card-container {
    background-image: url(../images/brushedSteel.jpg);
    background-size: cover;
    padding-bottom: 15px;
    text-align: left;
}

.card-container .card-container-title {
    margin-bottom: 0 !important;
}