body {
    background-color: #FFFFFF;
    /*background-image: url(../images/brushedSteel.jpg);*/
    /*background-size: cover;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: LaoUI;
}


/*Custom Fonts*/
@font-face {
    font-family: LaoUI;
    src: url(../fonts/LaoUIRegular/LaoUIRegular.ttf);
}

@font-face {
    font-family: Kalinga;
    src: url(../fonts/KalingaRegular/KalingaRegular.ttf);
}

/*Navbar*/
nav {
    background-color: #FFFFFF;
    height: 120px;
    /*background-image: url(../images/brushedSteel.jpg);*/
    /*background-size: cover;*/
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.6), 0 0 0px 0 rgba(0, 0, 0, 0.19);

}

.nav-ul, .nav-ul li i {
    line-height: 120px;
    margin: 0;
}

nav ul:not(.side-nav) a {
    color: #000000;
    font-size: 14pt;
}

nav ul:not(.side-nav) a:hover {
    background-color: transparent;
    color: #313131;
}

/*Nested Dropdown*/
.dropdown-content.nested {
    overflow-y: visible;
}

.dropdown-content .dropdown-content {
    margin-left: 100%;
}
/**/

nav .button-collapse {
    color: #000000;
}

nav .button-collapse i {
    font-size: xx-large;
    margin-top: 50%;
}

.side-nav {
    width: 250px;
}

.side-nav li>a {
    font-size: large;
}

.side-nav-img {
    width: 70px;
    height: 70px;
}

.company-logo{
    width: 375px;
    height: auto;
    margin: 17px 0 18px 5px;
}

.dropdown-content li>a:not(.brand-nav){
    font-weight: 400;
    background-color: #f5f5f5;
    border: solid #f5f5f5;
}

.brand-nav {
    font-weight: 700;
    background-color: #eeeeee;
}


nav #dropdown2 li.brand-nav:hover a:hover {
    background-color: transparent;
}

nav ul a.active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #313131;
}

.dropdown-button-nested.active {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #313131 !important;
}

a.dropdown-button-nested {
    border: solid #f5f5f5 !important;
}
nav ul a.active:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


main {
    flex: 1 0 auto;
    height: 100% !important;
}

/*Index*/
.main {
    width: 100%;
    padding: 50px 5px 15px 5px;
}

.carousel-controls {
    position: absolute;
    top: 55%;
}

.carousel-controls:hover {
    background-color: rgba(0,0,0,0.3);
}

.carousel-controls i{
    color: #f5f5f5;
    font-size: 55pt;
    font-weight: 300;
    opacity: 0.85;
}

.carousel-fwd {
    right: 5px;
}

#slider {
    display: none;
    visibility: hidden;
}


/*Footer*/
.page-footer {
    background-image: url(../images/CompanyLogo/brushedSteel.jpg);
    background-size: cover;
    padding-top: 0;
    margin-top: 2%  ;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.page-footer .row {
    margin: 0;
    padding-bottom: 15px;
}

.copyright {
    width: 100%;
    /*text-shadow: 1px 1px 2px black;*/
}

.copyright span {
    float: right;
    color: #313131;;
    font-size: 9pt;
}

footer h5 {
    text-align: right;
    font-size: x-large;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
}

footer a {
    color: #ededed;
}

.footer-divder {
    height: 25px;
    background-color: #f5f5f5;
}

.footer-address {
    padding-top: 3% !important;
}

.footer-info {
    margin-top: 0;
    text-align: right;
    font-size: 16pt;
    text-shadow: 1px 1px 2px black;
}

.footer-info li:last-child {
    font-size: 14pt;
}

/*Packages-Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 18px;
    padding-bottom: 18px;
    left: 0;
    top: 0 !important;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    position: relative;
    padding: 10px !important;
    margin: 15px auto;
    width: 95%;
}

.modal-content .row {
    margin-bottom: 0;
    padding: 10px 0 10px 0;
    background-color: rgb(0, 0, 0);
}

.close {
    color: white;
    position: absolute;
    top:5px;
    right: 12px;
    font-size: 1.7rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #b1b1b1;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
}

.mySlides img{
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #f5f5f5;
    font-weight: bold;
    font-size: 32px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 10px;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: #f5f5f5;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
}

img.thumbnail {
    opacity: 0.6;
    width: 100%;
    height: auto;
}

.active,
.thumbnail:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/*Media Queries*/

@media only screen and (max-width: 1026px) {
    .main{
        display: none;
        visibility: hidden;
    }

    #slider {
        display: block;
        visibility: visible;
    }

    .slider {
        height: 100% !important;
    }

    .slider-body {
        width: 100%;
        height: 600px !important;
        margin: auto;
    }

    .slider .slides {
        height: 100% !important;
    }

    /*Connect*/
    .connect-outer-container{
        margin: 30px auto 0 auto;
    }

    /*Packages*/
    .card-image img {
        height: 320px;
    }


}

@media (max-width: 1200px) {
    /*Nav*/
    nav {
        height: 88px;
    }

    .nav-ul, .nav-ul li i {
        line-height: 88px;
    }

    nav ul:not(.side-nav) a {
        font-size: 14pt;
    }

    .company-logo{
        width: 300px;
        height: auto;
        margin: 7px 0 5px 5px;
    }

    /*Main*/
    .main-section h4 {
        font-size: 27pt;
    }

    .main {
        padding-top: 25px;
    }

    #logo{
        width: 50%;
    }

    /*Carousel*/
    .carousel-controls {
        position: absolute;
        top: 45%;
    }

    .carousel-controls i{
        font-size: 45pt;
    }

    /*Connect*/
    .connect-outer-container{
        margin: 20px auto 0 auto;
    }

    .office-address ul li a {
        font-size: 16pt;
    }

    .office-address h5 {
        font-size: 14pt;
    }

    /*Packages*/
    .package-body {
        margin-top: 30px;
    }

    .brand-packages {
        width: 320px;
    }

    .package-outer{
        width: 92%;
    }

    .mc-inner{
        width: calc(355px * 5) !important;
    }

    .card-image img {
        height: 320px;
    }

    .carousel-controls.package-btn {
        top: 42%;
    }

    .carousel-controls.package-btn i {
        font-size: 34pt;
    }

}

@media (max-width: 995px) {
    /*Nav*/
    nav {
        height: 80px;
    }

    .nav-ul, .nav-ul li i {
        line-height: 80px;
    }

    .button-collapse i {
        margin-top: 8px !important;
    }

    .company-logo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        height: auto;
        margin-top: 12px !important;
    }

    /*Carousel*/
    .carousel-controls {
        position: absolute;
        top: 40%;
    }

    .carousel-controls i{
        font-size: 40pt;
    }

    /*Main*/

    .main-section h4 {
        font-size: 22pt;
    }

    .main {
        padding-top: 15px;
    }

    #logo{
        width: 50%;
    }

    /*Footer*/
    footer h5 {
        font-size: large;
    }

    .footer-info {
        font-size: medium;
    }

    .footer-info li:last-child {
        font-size: 11pt;
    }

    .copyright span{
        font-size: x-small;
    }

    /*Packages*/
    .package-body {
        margin-top: 25px;
    }

    .brand-packages {
        width: 300px;
    }

    .mc-inner{
        width: calc(340px * 5) !important;
    }

    .card-image img {
        height: 300px;
    }

    .carousel-controls.package-btn i {
        font-size: 28pt;
    }

    /*Connect*/
    .flex-box {
        display: flex;
        flex-direction: column; /* Stack on top */
    }
    .flex-a {
        order: 2; /* Go down, bring Box B up */
    }

    .flex-b {
        order: 1;
    }

}

@media (max-width: 768px) {
    /*Nav*/
    nav {
        height: 70px;
    }

    .company-logo {
        width: 245px;
        margin-top: 10px !important;
    }

    /*Carousel*/
    .carousel-controls {
        position: absolute;
        top: 25%;
    }

    .carousel-controls i{
         font-size: 28pt;
         font-weight: 300;
    }

    .mc-control {
        right: 0 !important;
        top: 40% !important;
    }

    .carousel-item h2 {
        font-size: 12pt !important;
        bottom: 10px !important;
        left: 25px !important;
    }

    /*Under Construction*/
    .brand-logo img {
        width: 60px !important;
        height: 85px !important;
    }

    .section{
        padding: 15px 5px 5px 5px;
    }
    .services-container {
        width: 100%;
    }
    .services-container .col {
        padding: 7px;
    }

    /*Modal*/
    .modal-content {
        margin: 5px auto;
        padding: 5px !important;
        width: 90%;
        max-width: 1200px;
    }

    .modal-content .row {
        padding: 5px 0 5px 0;
    }

    .close {
        top: -5px;
        right: 5px;
    }

    .close i {
        font-size: 13pt !important;
    }

    .prev,
    .next {
        top: 45%;
        width: auto;
        padding: 16px;
        font-size: 18px;
    }

    .next {
        right: 5px;
    }

    .numbertext {
        font-size: 12px;
    }

    /*Footer*/
    .footer-info {
        font-size: small;
    }

    .footer-info li:last-child {
        font-size: 9pt;
    }

    .copyright span{
        font-size: 5pt;
    }

    /*Connect*/
    .contact-us {
        padding-left: 15px !important;
    }

    .office-address ul li a {
        font-size: 15pt;
    }

    .office-address h5 {
        font-size: 13pt;
    }

    /*Packages*/
    .brand-packages {
        width: 235px;
    }

    .package-outer{
        width: 99%
    }

    .card-slider {
        padding-bottom: 15px;
    }

    .mc-inner{
        width: calc(270px * 5) !important;
    }


    .card-image img {
        height: 250px;
    }

    .carousel-controls.package-btn {
        top: 88%;
    }




}