body {
    height: 100%;
    padding-top: 100px;
    font-family: LaoUI;
}

.wrapper {
    height: 100%;
    min-height: 100%;
    position:relative;
    padding-bottom: 100px;
}


/*Custom Fonts*/
@font-face {
    font-family: LaoUI;
    src: url(../fonts/LaoUIRegular/LaoUIRegular.ttf);
}

@font-face {
    font-family: Kalinga;
    src: url(../fonts/KalingaRegular/KalingaRegular.ttf);
}


/*Nav*/
nav {
    background-color: #f5f5f5;
    height: 120px;
}
.navbar-brand {
    height: auto;
}

.navbar-nav li a {
    font-size: 13pt;
    line-height: 69px;
    color: #000 !important;
}


.navbar-nav li a:hover {
    color: #0056B8 !important;
}

.dropdown-menu {
    border-radius: 0;
}
.dropdown-menu li a {
    font-size: 12pt;
    line-height: 30px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.company-logo{
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.carousel-wrapper {
    padding: 0;
}

.carousel-inner, .item {
    background-color: whitesmoke !important;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    /*height: 700px;*/
}

.carousel-inner>.item>img {
    margin: 0 auto;
}

#footer {
    background-image: url(../images/brushedSteel.jpg);
    background-size: cover;
    height: 200px;
    padding: 30px 0;
    clear: both;
    color: #fff;
    font-size: 12px;
    border: none;
}