body {
    background-color: #FFFFFF;
    /*background-image: url(../images/brushedSteel.jpg);*/
    /*background-size: cover;*/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: LaoUI;
}


/*Custom Fonts*/
@font-face {
    font-family: LaoUI;
    src: url(../fonts/LaoUIRegular/LaoUIRegular.ttf);
}

@font-face {
    font-family: Kalinga;
    src: url(../fonts/KalingaRegular/KalingaRegular.ttf);
}

/*Navbar*/
nav {
    background-color: #FFFFFF;
    height: 120px;
    /*background-image: url(../images/brushedSteel.jpg);*/
    /*background-size: cover;*/
    box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.6), 0 0 0px 0 rgba(0, 0, 0, 0.19);

}

.nav-ul {
    padding-right: 15px;
}

.nav-ul, .nav-ul li i {
    line-height: 120px;
    margin: 0;
}

nav ul:not(.side-nav) a {
    color: #000000;
    font-size: 14pt;
}

nav ul:not(.side-nav) a:hover {
    background-color: transparent;
    color: #313131;
}

/*Nested Dropdown*/
.dropdown-content.nested {
    overflow-y: visible;
}

.dropdown-content .dropdown-content {
    margin-left: 100%;
}
/**/

nav .button-collapse {
    color: #000000;
}

nav .button-collapse i {
    font-size: xx-large;
    margin-top: 50%;
}

.side-nav {
    width: 250px;
}

.side-nav li>a {
    font-size: large;
}

.side-nav-img {
    width: 70px;
    height: 70px;
}

.company-logo{
    width: 375px;
    height: auto;
    margin: 17px 0 18px 5px;
}

.dropdown-content li>a:not(.brand-nav){
    font-weight: 400;
    background-color: #f5f5f5;
    border: solid #f5f5f5;
}

.brand-nav {
    font-weight: 700;
    background-color: #eeeeee;
}


nav #dropdown2 li.brand-nav:hover a:hover {
    background-color: transparent;
}

nav ul a.active {
    background-color: rgba(0, 0, 0, 0.1);
    color: #313131;
}

.dropdown-button-nested.active {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #313131 !important;
}

a.dropdown-button-nested {
    border: solid #f5f5f5 !important;
}
nav ul a.active:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


main {
    flex: 1 0 auto;
    height: 100% !important;
}

/*Index*/
.main {
    position: relative;
    width: 100%;
    padding: 50px 5px 0px 5px;
}

.carousel {
    overflow: visible;
    height: 500px !important;
    width: 65%;
    margin: auto;
}

.carousel img {
    height: 500px !important;
}

.carousel-controls {
    position: absolute;
    top: 50%;
}

.carousel-controls:hover {
    background-color: rgba(0,0,0,0.3);
}

.carousel-controls i{
    color: #f5f5f5;
    font-size: 55pt;
    font-weight: 300;
    opacity: 0.85;
}

.carousel-fwd {
    right: 5px;
}

#slider {
    display: none;
    visibility: hidden;
}


/*Footer*/
.page-footer {
    background-image: url(../images/CompanyLogo/brushedSteel.jpg);
    background-size: cover;
    padding-top: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.6), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.page-footer .row {
    margin: 0;
    padding-bottom: 15px;
}

.copyright {
    width: 100%;
    /*text-shadow: 1px 1px 2px black;*/
}

.copyright span {
    float: right;
    color: #313131;;
    font-size: 9pt;
}

footer h5 {
    text-align: right;
    font-size: x-large;
    text-shadow: 2px 2px 5px black;
    font-weight: 700;
}

footer a {
    color: #ededed;
}

.footer-divder {
    height: 25px;
    background-color: #f5f5f5;
}

.footer-address {
    padding-top: 10px !important;
}

.footer-info {
    margin-top: 0;
    text-align: right;
    font-size: 16pt;
    text-shadow: 1px 1px 2px black;
}

.footer-info li:last-child {
    font-size: 14pt;
}


/*Media Queries*/

@media only screen and (max-width: 1026px) {
    .main{
        display: none;
        visibility: hidden;
    }

    #slider {
        display: block;
        visibility: visible;
    }

    .slider {
        height: 100% !important;
    }

    .slider-body {
        width: 100%;
        height: 600px !important;
        margin: auto;
    }

    .slider .slides {
        height: 100% !important;
    }
}

@media (max-width: 1200px) {
    /*Nav*/
    nav {
        height: 88px;
    }

    .nav-ul, .nav-ul li i {
        line-height: 88px;
    }

    nav ul:not(.side-nav) a {
        font-size: 14pt;
    }

    .company-logo{
        width: 300px;
        height: auto;
        margin: 7px 0 5px 5px;
    }

    /*Carousel*/
    .carousel-controls {
        position: absolute;
        top: 45%;
    }

    .carousel-controls i{
        font-size: 45pt;
    }

}

@media (max-width: 995px) {
    /*Nav*/
    nav {
        height: 80px;
    }

    .nav-ul, .nav-ul li i {
        line-height: 80px;
    }

    .button-collapse i {
        margin-top: 8px !important;
    }

    .company-logo{
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 275px;
        height: auto;
        margin-top: 12px !important;
    }

    /*Carousel*/
    .carousel-controls {
        position: absolute;
        top: 40%;
    }

    .carousel-controls i{
        font-size: 40pt;
    }

    /*Footer*/
    footer h5 {
        font-size: large;
    }

    .footer-info {
        font-size: medium;
    }

    .footer-info li:last-child {
        font-size: 11pt;
    }

    .copyright span{
        font-size: x-small;
    }

}

@media (max-width: 768px) {
    /*Nav*/
    nav {
        height: 70px;
    }

    .company-logo {
        width: 245px;
        margin-top: 10px !important;
    }

    /*Carousel*/
    .carousel-controls {
        position: absolute;
        top: 25%;
    }

    .carousel-controls i{
         font-size: 28pt;
         font-weight: 300;
    }

    .mc-control {
        right: 0 !important;
        top: 40% !important;
    }

    .carousel-item h2 {
        font-size: 12pt !important;
        bottom: 10px !important;
        left: 25px !important;
    }

    /*Footer*/
    .footer-info {
        font-size: small;
    }

    .footer-info li:last-child {
        font-size: 9pt;
    }

    .copyright span{
        font-size: 5pt;
    }

}